input[type=text] {
    width: 35em;
}

.url-input {
    float: left;
    margin: 1em;
    width: 100%;
}

.queue {
    float: left;
    width: 70%;
}

.queue-title {
    clear: both;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.history {
    float: right;
    width: 30%;
}

.entry {
    clear: both;
    float: left;
}

.entry-left {
    float: left;
}

.entry-right {
    float: right;
}
